/* Branding Bar Panel */

#bb_panel {
    background: #4e5256;
    background: #4e5256 url('/img/branding_bar-background-base.jpg');
    background: url('/img/branding_bar-background-texture.png') top center repeat-x, url('/img/branding_bar-background-base.jpg');

    color: #eee;
    box-shadow: inset 0px -5px 15px -5px rgba(0,0,0,.4);
    font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    height: 250px;
    width: 100%;
    top: -250px;
}

#bb_close-panel {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    opacity: .7;
    filter: alpha(opacity=70);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#bb_close-panel:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}
#bb_close-panel:focus {
    outline: none;
}

.bb_panel-container {
    margin: 30px auto;
    width: 960px;
}

.bb_heading {
    color: #fcd74b;
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.bb_description {
    line-height: 20px;
    margin: 25px 0;
    padding: 0;
}

a.bb_link {
    background: none;
    color: #fcd74b;
    text-decoration: none;
}

a.bb_link:hover {
    border-bottom: 1px dotted #fcd74b;
    color: #fcd74b;
    padding-bottom: 2px;
}


/* Branding Panel: About Section */

.bb_about {
    border-right: 1px dashed #888;
    float: left;
    height: 190px;
    padding-right: 50px;
    width: 370px;
}

input.bb_input {
    border: none;
    border-radius: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    color: #444;
    height: 30px;
    margin: 0px;
    margin-right: 1px;
    outline: none;
    padding: 8px 10px;
    width: 220px;
}

input.bb_input.bb_input-zip { width: 70px; }

button.bb_sumbit,
button.bb_sumbit:active {
    background: #fcd74b;
    border: none;
    color: #444;
    cursor: pointer;
    font-family: inherit;
    font-size: 11px;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 6px 0;
    text-transform: uppercase;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    vertical-align: top;
    width: 70px;
}

.bb_sumbit:hover { background: #e5c345; }

.bb_input::-webkit-input-placeholder { color: #bbb; font-family: georgia, times, serif; font-size: 11px; font-style: italic; }
.bb_input:-moz-placeholder { color: #bbb; font-family: georgia, times, serif; font-style: italic; }
.bb_input::-moz-placeholder { color: #bbb; font-family: georgia, times, serif; font-style: italic; }
.bb_input:-ms-input-placeholder { color: #bbb; font-family: georgia, times, serif; font-style: italic; }

.bb_email .bb_heading { margin-top: 20px; }
.bb_email .bb_email-form { margin-top: 10px; }


/* Branding Panel: Tools Section*/

.bb_tools {
    float: left;
    margin-left: 49px;
    width: 490px;
}

.bb_tools-heading:first-child {
    border-right: 1px dashed #aaa;
    margin-right: 25px;
    padding-right: 25px;
}


/* Tools Section: Featured Tools */

.bb_tools-featured {
    float: left;
    line-height:150%;
    list-style-type: none;
    margin: 0;
    margin-top: 25px;
    padding: 0;
}

.bb_tools-featured:first-child { margin-left: 0; }

.bb_tools-featured li {
    float: left;
    margin: 0;
    margin-left: 30px;
    width: 230px;
}

.bb_tools-featured li:first-child {
    margin-left: 0;
}

a.bb_tools-logo img {
    border: 0;
    outline: 0;
}

a.bb_tools-logo {
    background: none;
    border-bottom: none;
    display: block;
    padding-bottom: 0;
}

/* Tools Section: Tools List */

.bb_tools-list {
    display: inline-block;
    float: left;
    line-height:150%;
    list-style-type: none;
    margin: 0;
    margin-top: 25px;
    margin-left: 35px;
    padding: 0;
    width: 140px;
}
.bb_tools-list:first-child { margin-left: 0; }

.bb_tools-list li { margin-bottom: 20px; }

.bb_tools-list a.bb_link { color: #eee; }

.bb_tools-details .bb_description { margin: 15px 0; }


/* States and Animations */

.bb_tools-details.is-hidden { display: none; }

.bb_tools-heading.is-inactive { color: #aaa; cursor: pointer; }
.bb_tools-heading.is-inactive:hover { color: #fcd74b; }

.bb_fade-animation {
  -webkit-animation: bb_fade 700ms 1;
  -moz-animation: bb_fade 700ms 1;
  -o-animation: bb_fade 700ms 1;
  -ms-animation: bb_fade 700ms 1;
  animation: bb_fade 700ms 1;
}

@-webkit-keyframes bb_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-moz-keyframes bb_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-o-keyframes bb_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-ms-keyframes bb_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@keyframes bb_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}