/* Branding Pane */
/* Branding Pane: About */
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.container {
  width: 960px;
  margin: 30px auto;
}

#branding-bar-pane {
  position: absolute;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  top: -250px;
  background: #ddd;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  color: #eee;
  height: 250px;
  overflow: hidden;
  background: #4e5256 url('/img/branding_bar-background-base.jpg');
  background: url('/img/branding_bar-background-texture.png') top center repeat-x, url('/img/branding_bar-background-base.jpg');
  box-shadow: inset 0px -5px 15px -5px rgba(0,0,0,.4);
}

.default-bar {
  height: 45px;
}

.links {
  font-family: 'Georgia';
  font-style: italic;
  float: left;
  font-size: 11px;
  color: #999;
  line-height: 45px;
  cursor: pointer;
}

.links a:hover {
  color: #000;
}

/* Branding Pane: Tools */

.tools-heading:first-child {
  border-right: 1px dashed #aaa;
  padding-right: 25px;
  margin-right: 25px;
}

.tools-heading.inactive {
  cursor: pointer;
  color: #aaa;
}

.tools-heading.inactive:hover {
  color: #fcd74b;
}

.tools-list {
  list-style-type: none;
  line-height:150%;
  /*float: left;*/
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-left: 80px;
  width: 100px;
}
.tools-list:first-child {
    margin-left: 0;
}
.tools-list li {
  margin-bottom: 20px;
}
#branding-bar-pane .tools-list a {color: #eee;}

.tools-featured {
  list-style-type: none;
  line-height:150%;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
.tools-featured:first-child {
    margin-left: 0;
}
.tools-featured li {
    margin: 0;
    float: left;
    width: 230px;
    margin-left: 30px;
}

.tools-featured li:first-child {
    margin-left: 0;
}

.bb-about {
  width: 370px;
  height: 190px;
  float: left;
  padding-right: 50px;
  border-right: 1px dashed #888;
}
.bb-tools {
    width: 490px;
    margin-left: 49px;
    float: left;
}
.bb-hidden {
    display: none;
}
.bb-heading {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fcd74b;
}
#branding-bar-pane a {
    color: #fcd74b;
    text-decoration: none;
}

#branding-bar-pane a:hover {
    color: #fcd74b;
    padding-bottom: 2px;
    border-bottom: 1px dotted #fcd74b;
}
#bb-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 1;
    opacity: .7;
    filter: alpha(opacity=70);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
#bb-close:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}
.bb-email-input {
    border: none;
    padding: 8px 10px;
    margin: 0px;
    margin-right: 1px;
    width: 220px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #444;
}
.bb-email-input.zip {
    width: 70px;
}

button.bb-email-sumbit, button.bb-email-sumbit:active {
    border: none;
    vertical-align: top;
    padding: 6px 0;
    height: 30px;
    text-transform: uppercase;
    margin: 0;
    background: #fcd74b;
    width: 70px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font: inherit;
    font-size: 11px;
    color: #444;
}
.bb-email-sumbit:hover {
    background: #e5c345;
}
.bb-email-sumbit::-moz-focus-inner {
    padding: 0;
    border: 0
}
.bb-email-input::-webkit-input-placeholder { /* WebKit browsers */
    font-family: georgia, times, serif; font-style: italic; color: #bbb;
}
.bb-email-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: georgia, times, serif; font-style: italic; color: #bbb;
}
.bb-email-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: georgia, times, serif; font-style: italic; color: #bbb;
}
.bb-email-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: georgia, times, serif; font-style: italic; color: #bbb;
}

#branding-bar-pane a.tools-logo img {
    outline: 0;
    border: 0;
}

#branding-bar-pane a.tools-logo {
    display: block;
    border-bottom: none;
    padding-bottom: 0;
}

#branding-bar-pane a.tools-logo:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

.bb-description {
    margin: 25px 0;
    padding: 0;
    line-height: 20px;
}

.bb-email .bb-heading {
    margin-top: 20px;
}
.bb-email .bb-email-form {
    margin-top: 10px;
}

.is-hidden {
  display: none;
}
.tools-details {
}
.tools-details .bb-description {
  margin: 15px 0;
}
@-webkit-keyframes fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-moz-keyframes fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-o-keyframes fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@-ms-keyframes fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}
@keyframes fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}

/* Branding Bar */
.wrapper {
  width: 960px;
  margin: auto;
}

#branding-bar {
  background: #fbf8ef;
  padding: 10px 0 5px;
  height: 30px;
}
#branding-bar .social {
  font-size: 18px;
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}

#branding-bar .social .icon-facebook:hover{ color: #3B5998; }
#branding-bar .social .icon-twitter:hover{ color: #00aced; }
#branding-bar .social .icon-gplus:hover{ color: #dd4b39; }

#branding-bar-trigger {
  color: #666;
  font-family: 'franklin-gothic-urw', helvetica, arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

#branding-bar-pane .fade-animation {
  -webkit-animation: fade 700ms 1;
  -moz-animation: fade 700ms 1;
  -o-animation: fade 700ms 1;
  -ms-animation: fade 700ms 1;
  animation: fade 700ms 1;
}
#branding-bar-wrapper {
  position: relative;
  top: 0;
  -webkit-transition: top 200ms ease-out;
  -moz-transition: top 200ms ease-out;
  -ms-transition: top 0.3s ease-out;
  -o-transition: top 0.3s ease-out;
  transition: top 200ms ease-out;
}
#branding-bar-wrapper.is-active {
  top: 250px;
}