/* Layout */

html { margin: 0; }

body { margin: 0; }


/* Branding Bar Wrapper */

.bb_wrapper {
    position: relative;
    margin-top: 0;

    -webkit-transition: margin-top 200ms ease-out;
    -moz-transition: margin-top 200ms ease-out;
    -ms-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 200ms ease-out;
}

.bb_wrapper.is-active { margin-top: 250px; }


/* Branding Bar (Styles may vary per site ) */

.wrapper {
  width: 960px;
  margin: auto;
}

#branding-bar {
  background: #fbf8ef;
  padding: 10px 0 5px;
  height: 30px;
}
#branding-bar a.social {
  font-size: 18px;
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}
#branding-bar .social span {color: inherit; transition: color 200ms ease-out;}
#branding-bar .social .icon-facebook:hover{ color: #3B5998; }
#branding-bar .social .icon-twitter:hover{ color: #00aced; }
#branding-bar .social .icon-gplus:hover{ color: #dd4b39; }

#branding-bar-trigger {
  color: #666;
  font-family: 'franklin-gothic-urw', helvetica, arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

#branding-bar-trigger:hover {
  text-decoration: underline;
}

.productOf {
  background: url("http://d6ekjl42nohi3.cloudfront.net/images/new_assets/productOf.png?20140213203834329635353") no-repeat scroll center top transparent;
  display: block;
  float: right;
  height: 29px;
  text-indent: -99999em;
  width: 200px;
}