// Branding Bar Defaults

.branding-bar {
  background: #fbf8ef;
  height: 45px;

  a.social {
    text-decoration: none;

    .icon {
      color: #aaa;
      font-size: 16px;
      margin-right: 10px;
      transition: color 200ms ease-out;
    }

    .icon-facebook:hover{ color: #3b5998; }

    .icon-twitter:hover{ color: #00aced; }

    .icon-google-plus:hover{ color: #dd4b39; }
  }
}

.branding-bar_links {
  float: left;
  line-height: 45px;
}

.branding-bar_trigger {
  color: #666;
  cursor: pointer;
  font-family: 'franklin-gothic-urw', helvetica, arial, sans-serif;
  font-size: 13px;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.branding-bar_logo {
  float: right;
  line-height: 45px;
}

.branding-bar_productof {
  color: #888;
  font-family: 'Georgia';
  font-size: 11px;
  font-style: italic;
  margin-right: 2px;
  text-rendering: optimizeLegibility;
}

.branding-bar_sunlight-logo {
  background: url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.1.1/img/sunlight-logo.png') no-repeat 50% 50%;
  background: rgba(0,0,0,0) url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.1.1/img/sunlight-logo.svg') no-repeat 50% 50%;
  background-size: 100% 100%;
  color: transparent;
  display: inline-block;
  font-size: 0;
  height: 30px;
  width: 160px;
  vertical-align: middle;
}