$namespace: 'bb';

// Branding Bar Wrapper

.#{$namespace}_wrapper {
  position: relative;
  margin-top: 0;

  -webkit-transition: margin-top 200ms ease-out;
  -moz-transition: margin-top 200ms ease-out;
  -ms-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 200ms ease-out;

  &.is-active { margin-top: 250px; }


  // Branding Bar Panel

  ##{$namespace}_panel {
    background: #4e5256;
    background: #4e5256 url('../img/branding_bar-background-base.jpg');
    background: url('../img/branding_bar-background-texture.png') top center repeat-x, url('../img/branding_bar-background-base.jpg');

    color: #eee;
    box-shadow: inset 0px -5px 15px -5px rgba(0,0,0,.4);
    font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    height: 250px;
    width: 100%;
    top: -250px;
  }

  ##{$namespace}_close-panel {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    opacity: .7;
    filter: alpha(opacity=70);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
      opacity: .9;
      filter: alpha(opacity=90);
    }
    &:focus {
      outline: none;
    }
  }

  .#{$namespace}_panel-container {
    margin: 30px auto;
    width: 960px;
  }

  .#{$namespace}_heading {
    color: #fcd74b;
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .#{$namespace}_description {
    font-size: 12px;
    line-height: 20px;
    margin: 25px 0;
    padding: 0;
  }

  a.#{$namespace}_link {
    background: none;
    color: #fcd74b;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dotted #fcd74b;
      color: #fcd74b;
      padding-bottom: 2px;
    }
  }

  // Branding Panel: About Section

  .#{$namespace}_about {
    border-right: 1px dashed #888;
    float: left;
    height: 190px;
    padding-right: 50px;
    width: 370px;
  }

  .#{$namespace}_input {
    border: none;
    border-radius: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    background: #fff;
    color: #444;
    display: inline-block;
    height: 30px;
    margin: 0px;
    margin-right: 1px;
    outline: none;
    padding: 8px 10px;
    width: 220px;

    &.#{$namespace}_input-zip { width: 70px; }

    &::placeholder { color: #bbb; font-family: georgia, times, serif; font-size: 11px; font-style: italic; }
  }

  button.#{$namespace}_submit,
  button.#{$namespace}_submit:active {
    background: #fcd74b;
    border: none;
    box-shadow: none;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 11px;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 6px 0;
    text-indent: 0;
    text-shadow: none;
    text-transform: uppercase;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    vertical-align: top;
    width: 70px;

    &:hover { background: #e5c345; }
  }

  .#{$namespace}_email {
    .#{$namespace}_heading { margin-top: 20px; }
    .#{$namespace}_email-form { margin-top: 10px; }
    .#{$namespace}_email-form-fail { display: none; }
    .#{$namespace}_email-form-success {
      background: #404040;
      display: none;
      margin-top: 10px;
      padding: 5px 10px;
      width: 350px;
    }
  }

  // Branding Panel: Tools Section

  .#{$namespace}_tools {
    float: left;
    margin-left: 48px;
    width: 490px;
  }

  .#{$namespace}_tools-heading:first-child {
    border-right: 1px dashed #aaa;
    margin-right: 25px;
    padding-right: 25px;
  }


  // Tools Section: Featured Tools

  .#{$namespace}_tools-featured {
    float: left;
    list-style-type: none;
    margin: 0;
    margin-top: 25px;
    padding: 0;

    &:first-child { margin-left: 0; }

    li {
      float: left;
      list-style-type: none;
      margin: 0;
      margin-left: 30px;
      width: 230px;

      &:first-child { margin-left: 0; }
    }
  }

  a.#{$namespace}_tools-logo {
    background: none;
    border-bottom: none;
    display: block;
    height: 50px;
    padding-bottom: 0;

    img {
      border: 0;
      outline: 0;
    }
  }

  // Tools Section: Tools List

  .#{$namespace}_tools-list {
    display: inline-block;
    float: left;
    line-height: 150%;
    list-style-type: none;
    margin: 0;
    margin-top: 25px;
    margin-left: 35px;
    padding: 0;
    width: 140px;

    &:first-child { margin-left: 0; }

    li {
      margin-bottom: 20px;
      line-height: 18px;
      list-style-type: none;
    }

    a.#{$namespace}_link { color: #eee; }
  }

  .#{$namespace}_tools-details .#{$namespace}_description { margin: 15px 0; }

  // States and Animations

  .#{$namespace}_email-form {
    .#{$namespace}_input.is-hidden,
    .#{$namespace}_submit.is-hidden { display: none; }
  }
  .#{$namespace}_email-form-fail.is-true { display: block; }
  .#{$namespace}_email-form-success.is-true {
    display: block;
    animation: #{$namespace}_fade 700ms 1;
  }

  .#{$namespace}_tools-details.is-hidden { display: none; }

  .#{$namespace}_tools-heading.is-inactive {
    color: #aaa;
    cursor: pointer;

    &:hover { color: #fcd74b; }
  }

  .#{$namespace}_fade-animation {
    animation: #{$namespace}_fade 700ms 1;
  }

}

@keyframes #{$namespace}_fade {
  0% { opacity: .25; }
  100% { opacity: 1; }
}