/* Branding Bar Defaults */

.branding-bar {
  background: #fbf8ef;
  height: 45px;
}

.branding-bar_links {
  float: left;
  line-height: 45px;
}

.branding-bar a.social {
  text-decoration: none;
}

.branding-bar a.social .icon {
  color: #aaa;
  font-size: 16px;
  margin-right: 10px;
  transition: color 200ms ease-out;
}

.branding-bar .social .icon-facebook:hover{ color: #3B5998; }
.branding-bar .social .icon-twitter:hover{ color: #00aced; }
.branding-bar .social .icon-google-plus:hover{ color: #dd4b39; }

.branding-bar_trigger {
  color: #666;
  cursor: pointer;
  font-family: 'franklin-gothic-urw', helvetica, arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.branding-bar_trigger:hover {
  color: #000;
}

.branding-bar_logo {
  float: right;
  line-height: 45px;
}

.branding-bar_productof {
  color: #888;
  font-family: 'Georgia';
  font-size: 11px;
  font-style: italic;
  margin-right: 2px;
  text-rendering: optimizeLegibility;
}

.branding-bar_sunlight-logo {
  background: url('http://sunlight-cdn.s3.amazonaws.com/brandingbar/0.1.1/img/sunlight-logo.png') no-repeat center center;
  background: rgba(0,0,0,0) url('http://sunlight-cdn.s3.amazonaws.com/brandingbar/0.1.1/img/sunlight-logo.svg') no-repeat center center;
  background-size: 100% 100%;
  color: transparent;
  display: inline-block;
  font-size: 0;
  height: 30px;
  width: 160px;
  vertical-align: middle;
}