@import 'mixins';
@import 'modal';

.branding-bar {
    font-family: 'franklin-gothic-urw', helvetica, arial, sans-serif;
    background: #f4ce2b;
    height: 65px;
    z-index: 1000;
    position: relative;
}

.bb-donation-bar_container {
    width: 960px;
    margin: auto;
}

.bb-donation-message {
    float: left;
    line-height: 65px;
}

.bb-donation-message_text {
  max-width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
}

.bb-strong {
    font-weight: 500;
}

.bb-donation-bar_logo {
    float: right;
    line-height: 65px;
}

.bb-donation-bar_sunlight-logo {
    background: url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/img/sunlight-logo.png') no-repeat 50% 50%;
    background: rgba(0, 0, 0, 0) url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/img/sunlight-logo.svg') no-repeat 50% 50%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 30px;
    width: 160px;
    vertical-align: middle;
}

.bb-button_cta {
    background: #b55300;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
    outline: none;
    padding: 6px 2px;
    text-indent: 0;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 125px;
    }

.bb-button_cta--donate {
    @extend .bb-button_cta;

    background: #b55300;
    margin: 0 10px;
    padding: 6px 3px;
    
    &:hover {
        background: #DF6601;
    }
}

.bb-button_cta--next {
    @extend .bb-button_cta;

    background: #53afc9;
    margin: auto;
    width: 175px;
    height: 40px;
    font-size: 16px;
    border-bottom: 4px #488293 solid;

    &:hover {
        background: #53BBD8;
    }
}

.bb-button_cta--large {
    @extend .bb-button_cta;

    height: 50px;
    width: 175px;
    font-size: 18px;
    margin: 25px 25px 10px;
}
